{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<h1>Hey there {% if session.name %} {{ session.name }} {% else %} <a href="/setname/">User</a> {% endif %} </h1>
<p>Hello and welcome to your very own webserver😁 (designed by Isaiah Carrington. Perhaps check out some more of his stuff on his <a href="https://isaiahsama.github.io/">website</a>)</p>

<p>I am well aware the website doesn't look very fancy, but it is functional😉!</p>

<p>Since you're here, I assume that you know what this is and the general idea of what you're capable of doing here. Awesome. Everything can be accessed from below</p>

<hr>

<h2>File Upload</h2>
<p>Ready to upload some files? Just press <a href="/upload/">here</a> to get started.</p>
<p>Or... you know... The big upload button beneath me works as well 😅</p>
<a href="/upload/"><button class="btn btn-primary">Upload a file</button></a>

<hr>

<h2>{% if session.name %} {{ session.name }}'s {% else %} Your {% endif %} Files</h2>

{% if files %}

<p>When you press the download button for the file you want below, you will be shown the file so you can verify its contents.</p>
<p> To actually download it after you press the download button below, if you're on PC, just right click and press 'Save As'. If you are on mobile, press the 3 dots in the top left of your browser, then the download icon</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Filename</th>
            <th scope="col">Date Created</th>
            <th scope="col">Last Downloaded</th>
            <th scope="col">Times Downloaded</th>
            <th scope="col">Download</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for row in files %}
        <tr>
        <th scope="row">{{ row[0] }} </th>
        <td> {{ row[1] }} </td>
        <td> {{ row[2] }} GMT </td>
        <td> {{ row[3] }} GMT </td>
        <td> {{ row[4] }} </td>
        <td> <a href="/download/{{row[1]}}"><button class="btn btn-primary">Download</button></a> </td>
        <td> <a href="/delete/{{row[1]}}"><button class="btn btn-danger">Delete</button></a> </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <p>You haven't uploaded any files as yet. Do so by pressing the <a href="/upload/"> upload</a> link above</p>
{% endif %}

<hr>
{% if session.name %}
    <a href="/forgetme/">Forget I told you my name</a>
{% endif %}
{% endblock %}